<div class="col p-0 pr-3"><br>
    {{ form_start(form) }}
    <h4> Compte </h4>
    {{ form_row(form.mail, {'label': 'Adresse mail '}) }}
    {{ form_row(form.pseudo, {'label': 'Pseudo '}) }}
    <br><br><br>
    <h4>Couleurs</h4>
    Si vous cherchez des couleurs : <a href="https://coolors.co/palettes/trending">https://coolors.co/palettes/trending</a> <br><br>
    {{ form_row(form.couleurFond, {'label': 'Saisissez une couleur de fond '}) }}
    {{ form_row(form.couleurMenu, {'label': 'Saisissez une couleur des menus '}) }}

    <small>Si vous saisissez un code, n'oubliez pas le "#" au début du code. Exemple : "#7bdff2"</small><br><br>
    <button class="btn btn-primary"> {{ button_label | default('Confirmer') }} </button>
</div>
<div class="col p-0 pl-3"><br>
    <h4> Informations personnelles </h4>
    {{ form_row(form.nom, {'label': 'Nom '}) }}
    {{ form_row(form.prenom, {'label': 'Prénom '}) }}
    {{ form_row(form.dateNaissance, {'label': 'Date de naissance '}) }}
    {% if is_granted('ROLE_ADMIN') %}
        {{ form_row(form.estActive, {'label': 'Le compte a-t-il été activé ? '}) }}
    {% endif %}

    {{ form_row(form._token) }}

</div>
<input type="hidden" name="token" value="{{ csrf_token('user') }}"/>
