{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="container" style=" height: 350px;">
    <hr>
        <h5>{{ idPubli.user.pseudo }}</h5><br>
        <span style="margin-left: 3%"></span>{{ idPubli.commentaire }}
        {#{idPubli.champPhoto}#}
        <br><br><br><br>


        {{ form_start(form) }}
        {{ form_row(form._token) }}
        <b>{{ form_row(form.newComment, {'label': 'Votre commentaire '}) }}</b>
        {{ form_errors(form) }}

    <button class="btn btn-primary"> {{ button_label | default('Confirmer') }} </button>
</div>
<input type="hidden" name="token" value="{{ csrf_token('user') }}"/>