{% extends "base.html.twig" %}

{% block body %}
    <br>
<div class="p-3 shadow p-3 mb-5 bg-white" style="width: 75%; margin: 0 auto; height: fit-content; border-radius: 10px" >
    <h5 style="display: inline"><a style="color: black" href="users/{% if publication.partage ==1 %}{{ publication.idUserOriginal }}{% else %}{{ publication.user.id }}{% endif %}">{% if publication.partage ==1 %}{{ publication.userOriginal }}{% else %}{{ publication.user.pseudo }}{% endif %}</a></h5>
    {% if app.user == publication.user or app.user.pseudo == "admin" %}
        {% if publication.publiSuivie == 0 %}
            <h4 style="float:right; ">
                <a href="/{{ publication.id }}/deletePubli" onclick="return confirm('Êtes-vous sûrs de vouloir supprimer{% if publication.partage == 0 %} cette publication {% else %} ce partage de publication {% endif %} ?')" style="text-decoration: none; color: red">X</a>
            </h4>
        {% endif %}
    {% endif %}

    {% if app.user.pseudo != "admin" %}
        <a style="margin-left: 3%; float: right; text-decoration: none" href="/{{ publication.id }}/signaler">
            <span class="icon-stack">
                <i class="icon-circle icon-stack-base"></i>
                <i class="icon-flag icon-light"></i>
            </span>
        </a>
    {% endif %}

    <hr>

    <span style="margin-left: 5%; max-width: 750px;"></span><p style="width: 750px;word-wrap: break-word; padding-left: 8%">{{ publication.commentaire }}</p>
    <div style="text-align: center">
        <img style="max-width: 750px; max-height: 700px" alt="" src="../../../../../uploads/{{ publication.getChampPhoto()}}">
    </div>
    <br>

    {% if publication.spotify != null %}
        <div style="text-align: center">
            <iframe src="https://open.spotify.com/embed{{ publication.spotify }}" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    {% endif %}

    {% if publication.deezer != null %}
        <iframe scrolling="no" frameborder="0" allowTransparency="true" src="{{ publication.deezer }}"  width="250" height="200"></iframe>
    {% endif %}

    <small><i>Tags : {% if publication.tags == null %} Aucun tag {% else %} {{ publication.tags }} {% endif %} </i></small>
    <hr>

    {% if app.user.pseudo != "admin" %}<a href="/users/{{ publication.id }}/liker" id="like" style="text-decoration: none; color: green; {% if app.user.id in publication.listeUserQuiLike %}text-shadow: 0 0 3px green;{% endif %}"><i class="icon-thumbs-up-alt icon-2x"></i></a>
    {% else %}<i class="icon-thumbs-up-alt icon-2x" style="color: green"></i>{% endif %}
    <label class="lLike" >{{publication.nbLike}}</label>

    {% if app.user.pseudo != "admin" %}<a href="/users/{{ publication.id }}/disliker" id="dislike" style="margin-left: 3%; text-decoration: none; color: red;{% if app.user.id in publication.listeUserQuiDislike %}text-shadow: 0 0 3px red;{% endif %}"><i class="icon-thumbs-down-alt icon-2x"></i></a>
    {% else %}<i class="icon-thumbs-down-alt icon-2x" style="color: red; margin-left: 2%"></i>{% endif %}
    <label class="lDislike">{{ publication.nbDislike }}</label>

        {% if app.user.pseudo != "admin" %}
            <a style="margin-left: 3%; text-decoration: none; color: darkcyan" href="/users/{{ publication.id }}/commenter"><i class="icon-comments-alt icon-2x"></i></a>
            <a style="float:right; text-decoration: none" href="/{{ publication.id }}/partager" id="partager"><i class="icon-share icon-2x"></i></a>
        {% endif %}
    <hr>
    <b><label>Commentaires</label></b><br><br>
    <div style="margin-left: 6%">

        {% set u = "" %}
        {% for user in publication.userQuiCommente %}
            {% set u = user %}
        {% endfor %}

        {% if publication.reponses == null %}
            <div>
                <small>Aucun commentaire</small>
            </div>
        {% else %}

            {% for rep in publication.reponses %}
                <div>
                    <b><a style="text-decoration: none" href="/users/{{ u.id }}">{{ u }}</a></b>
                    {% if app.user.id == publication.idUserOriginal or app.user.pseudo == "admin" %}
                        <h4 style="float:right; ">
                            <a href="/{{ publication.id }}/{{ rep }}/deleteCommentaire" onclick="return confirm('Êtes-vous sûrs de vouloir supprimer ce commentaire ?')" style="text-decoration: none; color: red">X</a>
                        </h4>
                    {% endif %}
                    {% if app.user.pseudo != "admin" %}
                    <a style="margin-left: 3%; float: right; text-decoration: none" href="/{{ publication.id }}/signaler">
                        <span class="icon-stack">
                            <i class="icon-circle icon-stack-base"></i>
                            <i class="icon-flag icon-light"></i>
                        </span>
                    </a>
                    {% endif %}
                    <br>
                    <span style="margin-left: 2%"></span>{{ rep }}<br><br>
                </div>
            {% endfor %}

        {% endif %}
    </div>

</div>

{% endblock %}