{% extends 'base.html.twig'%}

{% block title %}Rechercher un utilisateur{% endblock %}

{% block body %}

    <form method="post" class="w-100 p-3 shadow p-3 mb-5 bg-white" style=" border-radius: 10px">
    <h1>Chercher un utilisateur</h1><button type="button" class="btn btn-warning"><a style="text-decoration: none; color:black;" href="{{ path('Search.Options') }}" tabindex="-1" >Retour</a></button>

    <div class="form-group">
    {% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(searchForm) }}
    {{ form_row(searchForm.pseudo, {'label': " ", 'attr': {'placeholder': 'Mot clé, genre musical...'}}) }}
    <button class="btn btn-primary">rechercher</button>
    {{ form_end(searchForm) }}


    <section id="content">

        {% for user in users %}
            {% if user.pseudo != "admin" and app.user.pseudo != user.pseudo%}
            <article>
                <div class="card border-light mb-3" id="articlesRecents" style="max-width: 25rem;margin:1.5em">
                    <div class="card-header">

                        <h3>{{ user.pseudo }}</h3>
                        <small>Genre(s) musical(aux) : {% if user.genreMusique != null %}{{ user.genreMusique }} {% else %}Aucun. {% endif %}</small>

                    </div>
                    <div class="card-body">

                        <a href="/users/{{ user.id }}" class="btn btn-primary">Consulter le profil</a>
                    </div>
                </div>
            </article>
            {% endif %}
        {% endfor %}

    </section>
    </div>
    </form>

    <div class="pagination">
        {{ knp_pagination_render(users) }}
    </div>

{% endblock %}