{% extends "base.html.twig" %}

{% block body %}
    <form method="post" id="menu" class="w-100 p-3 shadow p-3 mb-5 bg-white" style="position:fixed;">
        <div class="row-fluid" style="text-align: center">
            <a href="{{ path('User.accueil') }}" style=" text-decoration: none; font-size: 22px;">Accueil</a>
            <h3 style="display: inline"> - Mon profil - </h3>
            <a href="{{ path('User.publier') }}" style="text-decoration: none;font-size: 22px;"> Publier</a>
        </div>
    </form>

    <div class="vertical-nav" id="sidebar" style="background-color: {{user.couleurMenu}}; min-width: 17rem;width: 20rem;height: 100vh;position: fixed;top: 86px;left: 0;box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
            background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);">

    </div>

    <div class="vertical-nav" id="sidebar2" style="background-color: {{ user.couleurMenu }}; min-width: 17rem;width: 20rem;height: 100vh;position: fixed;top: 86px;right: 0;box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
            background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);">
    </div>

    <script>
        document.getElementById("body").style.backgroundColor = '{{ user.couleurFond }}' ;
    </script>

    <div class="container" style="margin-top: 7%">
        {% for publi in publication %}
            {% if publi.publiSuivie == 0 %}

            {% if publi.partage == 1 and user.id == publi.user.id %}
                <div style="width: 75%; margin: 0 auto">
                    <h6 style="background-color: lightblue"> {{ publi.user.pseudo }} a partagé</h6>
                </div>
            {% endif %}

            {% if app.user.id == publi.user.id %}
            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 75%; margin: 0 auto; height: fit-content; border-radius: 10px" >
                <h5 style="display: inline"><a style="color: black" href="users/{% if publi.partage ==1 %}{{ publi.idUserOriginal }}{% else %}{{ publi.user.id }}{% endif %}">{% if publi.partage ==1 %}{{ publi.userOriginal }}{% else %}{{ publi.user.pseudo }}{% endif %}</a></h5>
                {% if user.id != publi.user.id %}
                    -
                    <a href="/users/{{ publi.user.id }}/{% if publi.publiSuivie == 0 %}suivre{% else %}desabonner{% endif %}">{% if publi.publiSuivie == 0 %}Suivre{% else %}Se désabonner{% endif %}</a>
                {% endif %}

                <a style="margin-left: 3%; float: right; text-decoration: none" href="/{{ publi.id }}/signaler">
                    <span class="icon-stack">
                      <i class="icon-circle icon-stack-base"></i>
                      <i class="icon-flag icon-light"></i>
                    </span>
                </a>
                {% if app.user == publi.user %}
                    <h4 style="float:right; ">
                        <a href="/{{ publi.id }}/deletePubli" onclick="return confirm('Êtes-vous sûrs de vouloir supprimer{% if publi.partage == 0 %} cette publication {% else %} ce partage de publication {% endif %} ?')" style="text-decoration: none; color: red">X</a>
                    </h4>
                {% endif %}
                <hr>

                <span style="margin-left: 5%; max-width: 750px;"></span><p style="width: 750px;word-wrap: break-word; padding-left: 8%">{{ publi.commentaire }}</p>
                <div style="text-align: center">
                    <img style="max-width: 750px; max-height: 700px; border-radius: 8px;" alt="" src="../../../../../uploads/{{ publi.getChampPhoto()}}">
                </div>

                {% if publi.spotify != null %}
                    <div style="text-align: center">
                        <iframe src="https://open.spotify.com/embed{{ publi.spotify }}" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                {% endif %}

                {% if publi.deezer != null %}
                    <iframe scrolling="no" frameborder="0" allowTransparency="true" src="{{ publi.deezer }}"  width="250" height="200"></iframe>
                {% endif %}

                <small><i>Tags : {% if publi.tags == null %} Aucun tag {% else %} {{ publi.tags }} {% endif %} </i></small>
                <hr>
                <a href="/{{ publi.id }}/liker" id="like" style="text-decoration: none; color: green; {% if app.user.id in publi.listeUserQuiLike %}text-shadow: 0 0 3px green;{% endif %}"><i class="icon-thumbs-up-alt icon-2x"></i></a>
                <label class="lLike" >{{publi.nbLike}}</label>

                <a href="/{{ publi.id }}/disliker" id="dislike" style="margin-left: 3%; text-decoration: none; color: red;{% if app.user.id in publi.listeUserQuiDislike %}text-shadow: 0 0 3px red;{% endif %}"><i class="icon-thumbs-down-alt icon-2x"></i></a>
                <label class="lDislike">{{ publi.nbDislike }}</label>

                <a style="margin-left: 3%; text-decoration: none; color: darkcyan" href="/{{ publi.id }}/commenter"><i class="icon-comments-alt icon-2x"></i></a>
                <a style="float:right; text-decoration: none" href="/{{ publi.id }}/partager" id="partager"><i class="icon-share icon-2x"></i></a>
                <hr>

                {% if publi.partage == 0 %}
                <b><label>Commentaires</label></b><br><br>
                <div style="margin-left: 6%">

                    {% set u = "" %}
                    {% for user in publi.userQuiCommente %}
                        {% set u = user %}
                    {% endfor %}

                    {% if publi.reponses == null %}
                        <div>
                            <small>Aucun commentaire</small>
                        </div>
                    {% else %}

                        {% for rep in publi.reponses %}
                            <div>
                                <b><a style="text-decoration: none" href="/users/{{ u.id }}">{{ u }}</a></b><br>
                                <span style="margin-left: 2%"></span>{{ rep }}<br><br>
                            </div>
                        {% endfor %}

                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="wrapper" style="display: flex; width: 100%; margin-top: -48px;">
        <nav id="sidebar" style="width: 250px; height: 100vh;  background: black;"><br><br></nav>
    </div>


    <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("menu").style.top = "0";
                document.getElementById("sidebar").style.top = "68px";
                document.getElementById("sidebar2").style.top = "68px";
            } else {
                document.getElementById("menu").style.top = "86px";
                document.getElementById("sidebar").style.top = "86px";
                document.getElementById("sidebar2").style.top = "86px";
            }
        }
    </script>
{% endblock %}